body {
  color:#222222;
  background:none repeat scroll 0 0 #F9F9F9;
  font-family: Helvetica Neue, Arial, sans-serif;
}

.container {}

.container #header { margin:3em 1em; }
.container #header h1 {
  font-size:64px;
  line-height:60px;
  font-weight:normal;
  margin-bottom:0.2em;
}
.container #header h4 { color:#999;font-size:20px;line-height:1.25;margin-bottom:1.25em; }

.container #content {
  color:#488AC7;
  font-size:36px;
  line-height:48px;
}

.container #content ul.links { list-style-type:none;padding-left:0px;margin-left:0px; }
.container #content ul.links li { margin-right:8px;display:inline; }
.container #content ul.links li a { font-weight:bold;font-size:16px; }

.container #content ul.posts { padding-left:2em;list-style-type:none; }
.container #content ul.posts li { margin:0px;padding:0px; }
.container #content ul.posts li a { line-height:1.1em;letter-spacing:1px; }

.container #content pre { background-color:#EEEEEE;border:1px solid #DDDDDD;;margin: 0.5em 2em 0.5em 0px;padding: 0.2em 0.4em; }
.container #content pre.terminal { background-color:#333333;color:#F3F3F3;border:1px solid black; }
.container #content pre code { font-family:monospace !important;color:#E3E3E3; }

.container #footer { color:#CCCCCC;font-size:18px;margin:20px auto;text-align:left; }
.container #footer p { margin-bottom:10px; }
.container #footer .left { float:left; }
.container #footer .right { float:right; }

.date  { font-family:monospace !important;margin-right:1em;color:#CCCCCC;font-style:italic; }
