.container { font-size:14px; }

.container #header { margin:2em 1em; }
.container #header h1 { font-weight:normal;margin-bottom:1em; }
.container #header h4 { font-size:1.1em;line-height:1.25;margin-bottom:1.25em; }

.container #content {}

.container #content ul.links { list-style-type:none; }
.container #content ul.links li { margin-right:8px;display:inline; }
.container #content ul.links li a { font-weight:bold;font-size:16px; }

.container #content ul.posts { padding-left:2em;list-style-type:none; }
.container #content ul.posts li { margin:0px;padding:0px; }
.container #content ul.posts li a { line-height:1.1em;letter-spacing:1px; }

.container #content pre { background-color:#000;margin: 0.5em 2em 0.5em 0px;padding: 0.5em; }
.container #content pre code { font-family:monospace !important;color:#ccc; }

.container #footer { color:#CCCCCC;font-size:10px;margin:20px auto;text-align:center; }

.date  { font-family:monospace !important;margin-right:1em;color:#CCCCCC;font-style:italic; }
