@import compass/reset
@import compass
@import blueprint/grid

/* fonts
$helvetica: Corbel, "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif
$cambria:   cambria, georgia, "bitstream charter", "century schoolbook l", "liberation serif", times, serif
$palatino:  "palatino linotype", palatino, palladio, "urw palladio l", "book antiqua", "liberation serif", times, serif
$monaco:    monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace

/* color
$link-color: #808080
$link-hl-color: #338080
$text-color: #303030

a
  +unstyled-link
  +link-colors($link-color, $link-hl-color)
  text-shadow: 0px 0px 3px #d9d9d9

body
  color: $text-color
  font-family: $helvetica
  /*background: transparent url(/assets/bg.png) repeat
  background: #f3f3f3

#container
  margin: 0 auto
  width: span(24)

/* HEADER */
#header
  margin-top: 12px
  margin-bottom: 24px
  font-family: $cambria
  h1
    font-size: 64px
    line-height: 60px
    font-weight: bold
    margin-bottom: 0.2em
    a
      +link-colors(#333)
      text-decoration: none
  h4
    color: #999
    font-size: 20px
    line-height: 1.25
    margin-bottom: 1.25em

/* CONTENT */
.bio
  color: #488AC7
  font-size: 24px
  line-height: 36px

#content
  ul.posts
    font-size: 18px
    color: #333
    li
      margin-bottom: 12px
      a
        +link-colors(#606060, $link-hl-color)
        margin-left: 32px
        line-height: 1.1em
        letter-spacing: 1px

  pre
    background-color: #EEEEEE
    border: 1px solid #DDDDDD
    margin: 0.5em 2em 0.5em 0px
    padding: 0.2em 0.4em
    &.terminal
      background-color: #333333
      color: #F3F3F3
      border: 1px solid black
    code
      font-family: $monaco
      color: #E3E3E3

  ul.links
    +horizontal-list
    font-size: 16px
    margin: 24px 0px 24px auto
    li
      margin-right: 8px
      a
        +unstyled-link
        +link-colors($link-color, $link-hl-color)
        text-transform: uppercase
        font-weight: bold
        font-size: 16px

#post
  font-size: 18px
  line-height: 24px
  padding-bottom: 12px
  border-bottom: 2px solid #e9e9e9
  margin-bottom: 24px
  h1
    font-size: 36px
  .body
    color: #333
    font-size: 16px
    h1, h2, h3
      font-weight: bold
      line-height: 2.2em
    h1
      font-size: 24px
    h2
      font-size: 20px
    p
      line-height: 1.5em
      margin-bottom: 1em
    ul, ol
      margin-left: 1.4em
      margin-top: 0.5em
    ul
      list-style-type: disc

/* FOOTER */
#footer
  color: #AAA
  font-size: 18px
  margin: 20px auto
  text-align: left
  a
    +unstyled-link
    +link-colors(#999, $link-hl-color)
  p
    margin-bottom: 10px
  .left
    float: left
  .right
    float: right

.date
  font-family: monospace !important
  margin-right: 1em
  color: #AAA
  font-style: italic

div.date
  margin: 14px 0
