{{ define "main" }}
<div class="page-header">
    <h1>Archive</h1>
    <p>A complete collection of all posts organized by year</p>
</div>

{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $posts := $posts.ByDate.Reverse }}
{{ $byYear := $posts.GroupByDate "2006" }}
{{ range $byYear }}
<div class="archive-year">
    <h2>{{ .Key }}</h2>
    <div class="archive-list">
        {{ range .Pages }}
        <article class="archive-item">
            <time class="archive-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02" }}</time>
            <a href="{{ .Permalink }}" class="archive-link">
                {{ if .Title }}
                    {{ .Title }}
                {{ else }}
                    <code>{{ .RelPermalink }}</code>
                {{ end }}
            </a>
            {{ if .Params.tags }}
            <div class="postlist-taglist">
                {{ range .Params.tags }}
                <span class="postlist-tag">
                    <a href="/blog/categories/{{ . | urlize }}/">#{{ . }}</a>
                </span>
                {{ end }}
            </div>
            {{ end }}
        </article>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}