{{ define "main" }}
<h1>Archive</h1>
{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $posts := $posts.ByDate.Reverse }}
{{ $byYear := $posts.GroupByDate "2006" }}
{{ range $byYear }}
    <h2>{{ .Key }}</h2>
    {{ range .Pages }}
    <article class="postlist-item">
        <a href="{{ .Permalink }}" class="postlist-link">
            {{ if .Title }}
                {{ .Title }}
            {{ else }}
                <code>{{ .RelPermalink }}</code>
            {{ end }}
        </a>
        <time class="postlist-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
        {{ if .Params.tags }}
        <div class="postlist-taglist">
            {{ range .Params.tags }}
            <span class="postlist-tag">
                <a href="/blog/categories/{{ . | urlize }}/">#{{ . }}</a>
            </span>
            {{ end }}
        </div>
        {{ end }}
    </article>
    {{ end }}
{{ end }}
{{ end }}