/* line 17, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* fonts */
/* color */
/* line 16, ../_assets/styles.sass */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: gray;
  text-shadow: 0px 0px 3px #d9d9d9;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
a:active, a:focus {
  outline: none;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #338080;
}

/* line 21, ../_assets/styles.sass */
body {
  color: #303030;
  font-family: Corbel, "helvetica neue", arial, helvetica, freesans, "liberation sans", "numbus sans l", sans-serif;
  /*background: transparent url(/assets/bg.png) repeat */
  background: #f3f3f3;
}

/* line 27, ../_assets/styles.sass */
#container {
  margin: 0 auto;
  width: 950px;
}

/* HEADER */
/* line 32, ../_assets/styles.sass */
#header {
  margin-top: 12px;
  margin-bottom: 24px;
  font-family: cambria, georgia, "bitstream charter", "century schoolbook l", "liberation serif", times, serif;
}
/* line 36, ../_assets/styles.sass */
#header h1 {
  font-size: 64px;
  line-height: 60px;
  font-weight: bold;
  margin-bottom: 0.2em;
}
/* line 41, ../_assets/styles.sass */
#header h1 a {
  color: #333333;
  text-decoration: none;
}
/* line 44, ../_assets/styles.sass */
#header h4 {
  color: #999999;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* CONTENT */
/* line 51, ../_assets/styles.sass */
.bio {
  color: #488ac7;
  font-size: 24px;
  line-height: 36px;
}

/* line 57, ../_assets/styles.sass */
#content ul.posts {
  font-size: 18px;
  color: #333333;
}
/* line 60, ../_assets/styles.sass */
#content ul.posts li {
  margin-bottom: 12px;
}
/* line 62, ../_assets/styles.sass */
#content ul.posts li a {
  color: #606060;
  margin-left: 32px;
  line-height: 1.1em;
  letter-spacing: 1px;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#content ul.posts li a:hover {
  color: #338080;
}
/* line 68, ../_assets/styles.sass */
#content pre {
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  margin: 0.5em 2em 0.5em 0px;
  padding: 0.2em 0.4em;
}
/* line 73, ../_assets/styles.sass */
#content pre.terminal {
  background-color: #333333;
  color: #f3f3f3;
  border: 1px solid black;
}
/* line 77, ../_assets/styles.sass */
#content pre code {
  font-family: monaco, "lucida console", "dejavu sans mono", "bitstream vera sans mono", "liberation mono", monospace;
  color: #e3e3e3;
}
/* line 81, ../_assets/styles.sass */
#content ul.links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  font-size: 16px;
  margin: 24px 0px 24px auto;
}
/* line 60, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content ul.links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content ul.links li:first-child, #content ul.links li.first {
  padding-left: 0;
}
/* line 49, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content ul.links li:last-child {
  padding-right: 0;
}
/* line 50, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#content ul.links li.last {
  padding-right: 0;
}
/* line 85, ../_assets/styles.sass */
#content ul.links li {
  margin-right: 8px;
}
/* line 87, ../_assets/styles.sass */
#content ul.links li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: gray;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
#content ul.links li a:active, #content ul.links li a:focus {
  outline: none;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#content ul.links li a:hover {
  color: #338080;
}

/* line 94, ../_assets/styles.sass */
#post {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 12px;
  border-bottom: 2px solid #e9e9e9;
  margin-bottom: 24px;
}
/* line 100, ../_assets/styles.sass */
#post h1 {
  font-size: 36px;
}
/* line 102, ../_assets/styles.sass */
#post .body {
  color: #333333;
  font-size: 16px;
}
/* line 105, ../_assets/styles.sass */
#post .body h1, #post .body h2, #post .body h3 {
  font-weight: bold;
  line-height: 2.2em;
}
/* line 108, ../_assets/styles.sass */
#post .body h1 {
  font-size: 24px;
}
/* line 110, ../_assets/styles.sass */
#post .body h2 {
  font-size: 20px;
}
/* line 112, ../_assets/styles.sass */
#post .body p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
/* line 115, ../_assets/styles.sass */
#post .body ul, #post .body ol {
  margin-left: 1.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* line 119, ../_assets/styles.sass */
#post .body ul {
  list-style-type: disc;
}

/* FOOTER */
/* line 123, ../_assets/styles.sass */
#footer {
  color: #aaaaaa;
  font-size: 18px;
  margin: 20px auto;
  text-align: left;
}
/* line 128, ../_assets/styles.sass */
#footer a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #999999;
}
/* line 6, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_unstyled-link.scss */
#footer a:active, #footer a:focus {
  outline: none;
}
/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.rc.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
#footer a:hover {
  color: #338080;
}
/* line 131, ../_assets/styles.sass */
#footer p {
  margin-bottom: 10px;
}
/* line 133, ../_assets/styles.sass */
#footer .left {
  float: left;
}
/* line 135, ../_assets/styles.sass */
#footer .right {
  float: right;
}

/* line 138, ../_assets/styles.sass */
.date {
  font-family: monospace !important;
  margin-right: 1em;
  color: #aaaaaa;
  font-style: italic;
}

/* line 144, ../_assets/styles.sass */
div.date {
  margin: 14px 0;
}
