<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{page.title}}</title>
    <meta name="author" content="Kai Chen" />
    <link rel="stylesheet" href="/assets/styles.css" type="text/css" media="screen, projection" />
    <meta property="qc:admins" content="45533755153117116375" />
  </head>
  <body>
    <a href="http://github.com/kaichen"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

    <div id='container'>
      <div id='header'>
        <h1><a href="/">The Kai Way</a></h1>
        <h4>Pragmatically digging for real reasons behind problems</h4>
      </div>

      <div id='content'>{{ content }}</div>

      <div id='footer'>
        <p class='left'>
          &copy;&nbsp;2009-2012&nbsp;
          <a class='name' href="mailto:kaichenxyz@gmail.com">Kai Chen</a>
        </p>
      </div>
    </div>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/script.js"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16480900-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
