<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{page.title}}</title>
    <meta name="author" content="Kai Chen" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
  </head>

  <body>

    <a href="http://github.com/kaichen"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>

    <div class='container'>
      <div id='header'>
        <h1><a href="/">The Kai Way</a></h1>
        <h4>pragmatically digging for real reasons behind problems</h4>
      </div>

      <div id='content'>{{ content }}</div>

      <div id='footer'>
        <p class='left'>
          &copy; 2009-2011 by
          <a class='name' href="mailto:kaichenxyz@gmail.com">Kai Chen</a>
          <span>updated at {{site.time | date: "%Y-%m-%d %H:%M:%S"}}</span>
        </p>
        <p class='right'>
          Awesomely hosted by <a href="http://pages.github.com/">Github Pages</a>.
        </p>
      </div>
    </div>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16480900-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
