<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Kai Chen's Blog</title>
        <meta name="author" content="Kai Chen" />
        <link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/typography.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="/css/grid.css" type="text/css" media="screen, projection" />
        <!--[if lt IE 8]>
          <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
    </head>
    <body>
        <div class='container'>
            <div id='header'>
                <h1>Kai Chen's Blog</h1>
            </div>
            <div id='content'>
                {{ content }}
            </div>
            <div id='footer'>
                &copy;All content wrote by <a class='name' href='mailto:chenk85@gmail.com'>Kai Chen</a>
            </div>
        </div>
    </body>
</html>
