---
layout: layouts/base.njk
permalink: /{{ page.inputPath | rewriteSlug }}/
---

{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>
<ul class="post-metadata">
    <li>
        <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </li>
    {%- for tag in tags | filterTagList %}
        {%- set tagUrl %}/blog/categories/{{ tag | slugify }}/{% endset %}
        <li>
            <a href="{{ tagUrl }}" class="post-tag">#{{ tag }}</a>
            {%- if not loop.last %},
            {% endif %}
        </li>
    {%- endfor %}
</ul>
{{ content | safe }}
{%- if collections.post %}
    {%- set previousPost = collections.post | getPreviousCollectionItem %}
    {%- set nextPost = collections.post | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
        <ul class="links-nextprev">
            {%- if previousPost %}
                <li>Previous:
                    <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
                </li>
            {% endif %}
            {%- if nextPost %}
                <li>Next:
                    <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
                </li>
            {% endif %}
        </ul>
    {%- endif %}
{%- endif %}
<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    var disqus_config = function () {
    //this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = "{{ page.inputPath | rewriteSlug }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://thekaiway.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
